@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<hr />
<h3>What personal information do we collect?</h3>
<p>No user information is collected for sharing or sale. 
   Site information of user preferences are stored via Cookies and Local Storage</p>
<hr />
<h3>Will user information be shared with any third parties?</h3>
<p>No. 100% no.</p>
<hr />
<h3>Can users even enter any personal information?</h3>
<p>I mean, you could... but why would you? Unless you're a famous DJ.</p>
<hr />
<h3>Contact</h3>
<p>https://github.com/elementmg</p>
<p>element.mg@hotmail.com</p>
<hr />

